<app-side-nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
              id="sidenav-main"></app-side-nav>

<div class="main-content" id="panel">
    <!-- Topnav -->
    <app-nav-bar></app-nav-bar>
    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <app-current-state current="vm.title"></app-current-state>
                <!-- Card stats -->
            </div>
        </div>
    </div>
    <!-- Header -->
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row" ng-if="!showCreateForm">
            <div class="col-8">
                <h4>Select property category to create Task for:</h4>

                <select
                        name="selected_category"
                        ng-required="true"
                        class="form-control"
                        ng-model="maintainableType.value"
                        ng-change="selectMaintainableType()"
                        ng-options="x for x in maintainableTypes">

                </select>
            </div>
        </div>

        <form name="CreateTaskForm" ng-if="showCreateForm" novalidate ng-init="initController()">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-wrapper">
                        <!-- Input groups -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header">
                                <h3 class="mb-0">Create Task Form</h3>
                                <p style="font-size:small">Fields marked <span class="text-red">*</span> are required
                                </p>
                            </div>
                            <!-- Card body -->
                            <div class="card-body">
                                <!--product name-->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="fashionName">Task Name:</label>
                                            <span class="text-red">*</span>
                                            <div class="input-group input-group-merge">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input class="form-control" id="fashionName" name="taskName"
                                                       placeholder="Task name" type="text"
                                                       ng-model="createTaskInfo.name"
                                                       ng-required="true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Building-->
                                <div class="row" ng-if="isBuilding || isFloor || isRoom || isAsset">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="building">Building</label>
                                            <span class="text-red">*</span>
                                            <select
                                                    name="building"
                                                    id="building"
                                                    ng-required="true"
                                                    class="form-control"
                                                    ng-change="onBuildingSelectChange(CreateTaskForm)"
                                                    ng-model="building._id"
                                                    ng-options="x._id as x.name for x in buildings">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--Building-->
                                <!--Floor-->
                                <div class="row" ng-if="(isFloor || isRoom || isAsset) && areBuildingsReady">
                                    <div class="col-12">
                                        <div class="form-group" ng-if="!isFloorLoading">
                                            <label for="floor">Floor</label>
                                            <span class="text-red">*</span>
                                            <select
                                                    name="floor"
                                                    id="floor"
                                                    ng-required="true"
                                                    class="form-control"
                                                    ng-change="onFloorSelectChange()"
                                                    ng-model="floor._id"
                                                    ng-options="x._id as x.name for x in floors">
                                            </select>
                                        </div>
                                        <div class="form-group" ng-if="isFloorLoading">
                                            <div class="lds-ring">
                                                <div></div><div></div><div></div><div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Floor-->

                                <!--Room-->
                                <div class="row" ng-if="(isRoom || isAsset) && areFloorsReady">
                                    <div class="col-12">
                                        <div class="form-group" ng-if="!isRoomLoading">
                                            <label for="gender">Room</label>
                                            <span class="text-red">*</span>
                                            <select
                                                    name="gender_category"
                                                    id="gender"
                                                    ng-required="true"
                                                    class="form-control"
                                                    ng-model="room._id"
                                                    ng-change="onRoomSelectChange()"
                                                    ng-options="x._id as x.name for x in rooms">

                                            </select>
                                        </div>
                                        <div class="form-group" ng-if="isRoomLoading">
                                            <div class="lds-ring">
                                                <div></div><div></div><div></div><div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Assets-->
                                <div class="row" ng-if="(isAsset) && areRoomsReady ">
                                    <div class="col-12">
                                        <div class="form-group" ng-if="!isAssetLoading">
                                            <label for="gender">Assets</label>
                                            <span class="text-red">*</span>
                                            <select
                                                    name="assets"
                                                    id="assets"
                                                    ng-required="true"
                                                    class="form-control"
                                                    ng-model="asset._id"
                                                    ng-options="x._id as x.name for x in assets">

                                            </select>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-wrapper">
                        <!-- Tags -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header">
                                <h3 class="mb-0"></h3>
                            </div>
                            <!-- Card body -->
                            <div class="card-body">
                                <!--description -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="description">Task Description</label>
                                            <span class="text-red">*</span>
                                            <textarea class="form-control" id="description"
                                                      ng-model="createTaskInfo.description" rows="3"
                                                      ng-required="true"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!--Task type-->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="taskType">Task Type</label>
                                            <span class="text-red">*</span>
                                            <select
                                                    name="taskType"
                                                    id="taskType"
                                                    ng-required="true"
                                                    class="form-control"
                                                    ng-model="createTaskInfo.taskType"
                                                    ng-options="x for x in taskTypes">

                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--submit-->
                        <div class="card-footer" style="flex-direction: row-reverse">
                            <button class="btn btn-success " ng-click="createTask(CreateTaskForm)"
                                    ng-disabled="CreateTaskForm.$invalid">Create Task
                            </button>
                            <button ng-click="goBackToSelectMenu()" class="btn btn-danger" style=" margin-left: 15px;margin-right: 15px">Go back </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>

</div>


